In [2]:
import os
import pandas as pd
from pathlib import Path

%matplotlib inline

In [4]:
path = Path('BTC_historical_data.csv')
btc_df = pd.read_csv(path, parse_dates=True, infer_datetime_format=True, index_col='Date')
btc_df

               Price      Open      High       Low    Vol. Change %
Date
2021-12-31  46,219.5  47,123.3  48,553.9  45,693.6  58.18K   -1.92%
2021-12-30  47,123.3  46,470.7  47,901.4  46,003.0  60.96K    1.42%
2021-12-29  46,461.7  47,548.4  48,121.7  46,127.8  63.92K   -2.28%
2021-12-28  47,545.2  50,703.4  50,703.8  47,345.7  74.39K   -6.18%
2021-12-27  50,678.2  50,783.6  52,016.3  50,459.0  43.90K   -0.20%
...              ...       ...       ...       ...     ...      ...
2011-01-05       0.3       0.3       0.3       0.3   0.36K    0.00%
2011-01-04       0.3       0.3       0.3       0.3   1.88K    0.00%
2011-01-03       0.3       0.3       0.3       0.3   1.43K    0.00%
2011-01-02       0.3       0.3       0.3       0.3   5.35K    0.00%
2011-01-01       0.3       0.3       0.3       0.3   2.82K    0.00%

[4018 rows x 6 columns]

In [6]:
btc_df.isnull().sum()

Price       0
Open        0
High        0
Low         0
Vol.        0
Change %    0
dtype: int64

In [7]:
btc_df = btc_df.drop(columns=['Open','High','Low','Change %'])

In [8]:
btc_df

               Price    Vol.
Date
2021-12-31  46,219.5  58.18K
2021-12-30  47,123.3  60.96K
2021-12-29  46,461.7  63.92K
2021-12-28  47,545.2  74.39K
2021-12-27  50,678.2  43.90K
...              ...     ...
2011-01-05       0.3   0.36K
2011-01-04       0.3   1.88K
2011-01-03       0.3   1.43K
2011-01-02       0.3   5.35K
2011-01-01       0.3   2.82K

[4018 rows x 2 columns]